
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
    
.container{
    height: 100vh;
    background-image: url(lamp.png);
    background-repeat: no-repeat;
    background-position: left 100% top 0px;
    background-size: 400px 450px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
    z-index: 1;
}

nav ul a {
    text-decoration: none;
    padding: 0% 10px;
    font-size: .89rem;
    color: black;
    position: relative;
}

nav span {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav span a {
    text-decoration: none;
    color: black;
}


.main-left {
    width: 50%;
    margin-top: 20px;
    padding-left: 90px;
}

.main-left h1{
    font-size: 3rem;
}
.main-left h1 span {
    color: #734BeF;
}

.main-left p{
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.808);
}

.play-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.play-btn button {
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: #EF5C48;
}

.play-btn i{
    font-size: 2.5rem;
    border-radius: 50%;
    border-left: 3px solid #EF5C48;
    border-top: 2px solid #EF5C48;
    border-bottom: 2px solid #EF5C48;
}

.numb {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.numb h1 {
    font-weight: 400;
    font-size: 2.4rem;
}
.numb-1 h1 {
    color: #734BeF;
}
.numb-2 h1 {
    color: #F04885;
}
.numb-3 h1 {
    color: #4995EE;
}

.lamp-table {
    height: 170px;
    border-radius: 2rem;
    margin:0px 90px;
    margin-top: 40px;
    background-color: #132D3E;  
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 0 60px;
    color: white;
}

.lamp-table img {
    height: 230px;
    transform: translateY(-6%);
}

.lamp-table span h1 {
    font-size: 1.8rem;
    font-weight: 400;
}

.search {
    display: flex;
    align-items: center;
}

input {
    height: 36px;
}   
.find {
    background-color: #EF5C48;
    padding: 5px;
    width: 60px;
    text-align: center;
}

.lamp-table ul{
    margin-left: auto;
}

.lamp-table ul img {
    height: 50px;
    width: 100px;
}

.main-right {
    height: 500px;
    width: 50%;
   
}
.main-right img {
    transform: translateY(-15.7%);
    width: 100%;

}

@media (max-width:768px) {
    nav,
    .main-left {
        padding-inline: 30px;
    }
    .lamp-table{
        margin-inline: 0%;
    }
}

@media (max-width:690px) {
    .lamp-table{
        padding-inline: 20px;
    }
}
@media (max-width:425px) {

    nav ul {
        display: none;
    }

    main {
        margin-top: 65vh;
    }
    .container{
        background-size: 100% 450px;
    }
    .main-left{
        width: 100%;
    }

    .lamp-table ul {
        display: none;
        padding-inline: 0%;
    }
    input {
        width: 70%;
    }
}